.alertList {
  position: fixed;
  top: 40%;
  right: 0;
  .alert {
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    min-width: 160px;
    animation: down 2s linear;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &.success {
      background-color: $success;
    }
  }
}

@keyframes down {
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px);
    opacity: 0;
  }
}
